<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
	<h1 style="text-align: center; padding: 1em; font-size: 32px;">Hello World!</h1>
	<p style="text-align: center; font-size: 18px;">Send template email with Node.js</p>
</body>
</html>